
 body
    font-family 'Helvetica Neue', 'Helvetica', 'PingFangSC-Regular', 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', Arial, sans-serif
    font-size 14px
.active
    background #242260